<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GoogleMaps</title>
    <script src="angular.js"></script>
    <script src="angular-route.js"></script>
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAdLAd2-7haqQUWv9zpevBkELp_h8T3W8w">
    </script>
    <script src="weather.js"></script>
    <link rel="stylesheet" href="weather.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet" type="text/css">
    </head>
  <body  ng-app="weatherApp" ng-controller= "MainController">
    <div id="map"></div>
    <div class="sidebar" ng-click="openWindow()">
      <div ng-repeat="result in results"><h4>{{result.name}}</h4><img class="icon" ng-src="http://openweathermap.org/img/w/{{result.weather[0].icon}}.png"><br>{{result.weather[0].description}}<br>Temp: {{result.main.temp}}°<br>Humidity: {{result.main.humidity}}%<br>-----------------------<br></div>
    </div>
  </body>
</html>
